# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# macOS
.DS_Store
*.swp
*~.nib
.AppleDouble
.LSOverride

# Build products
build/
*.o
*.a

# Logs
*.log
.pbxproj_backups/
.venv/
.ruby_env/.bundle/config
.bundle/config
vendor/
DMSAApp/DMSAApp.xcodeproj/project.xcworkspace/xcuserdata/ttttt.xcuserdatad/UserInterfaceState.xcuserstate
DMSAApp/DMSAApp.xcodeproj/xcuserdata/ttttt.xcuserdatad/xcschemes/xcschememanagement.plist
