<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ttttt.dmsa.service</string>

    <key>MachServices</key>
    <dict>
        <key>com.ttttt.dmsa.service</key>
        <true/>
    </dict>

    <key>Program</key>
    <string>/Library/PrivilegedHelperTools/com.ttttt.dmsa.service</string>

    <key>UserName</key>
    <string>root</string>

    <key>KeepAlive</key>
    <true/>

    <key>ThrottleInterval</key>
    <integer>10</integer>

    <key>ProcessType</key>
    <string>Interactive</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/bin:/bin:/usr/sbin:/sbin:/Library/Frameworks</string>
        <!-- 允许多线程环境下 fork，macFUSE 挂载需要 -->
        <key>OBJC_DISABLE_INITIALIZE_FORK_SAFETY</key>
        <string>YES</string>
    </dict>

    <key>StandardOutPath</key>
    <string>/var/log/dmsa-service.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/dmsa-service.error.log</string>

    <key>ExitTimeOut</key>
    <integer>30</integer>
</dict>
</plist>
